Repository rapidsai/kvikio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners, @rapidsai/kvikio-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/kvikio-cpp-codeowners

#python code owners
python/            @rapidsai/kvikio-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/kvikio-cmake-codeowners
**/cmake/          @rapidsai/kvikio-cmake-codeowners
build.sh           @rapidsai/kvikio-cmake-codeowners
python/setup.py    @rapidsai/kvikio-cmake-codeowners @rapidsai/kvikio-python-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners

updating ops-bot.yaml (#335)
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Bump to nvcomp 3.0.6.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Remove extraneous cudf dependency.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Bump to nvcomp 3.0.6. (#346)
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

REL v24.02.01 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  legate/legate_kvikio/__init__.py
  legate/pyproject.toml
  python/CMakeLists.txt
  python/kvikio/__init__.py
  python/pyproject.toml
Owners: @rapidsai/kvikio-cmake-codeowners, @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners

Add support for Python 3.11.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
Owners: @rapidsai/ops-codeowners, @rapidsai/kvikio-cpp-codeowners

recommend 3.11 in installation docs
  docs/source/install.rst
Owners: none
