Repository rapidsai/kvikio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners, @rapidsai/kvikio-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/kvikio-cpp-codeowners

#python code owners
python/            @rapidsai/kvikio-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/kvikio-cmake-codeowners
**/cmake/          @rapidsai/kvikio-cmake-codeowners
build.sh           @rapidsai/kvikio-cmake-codeowners
python/setup.py    @rapidsai/kvikio-cmake-codeowners @rapidsai/kvikio-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

use rapids-build-backend (#389)
  .pre-commit-config.yaml
  build.sh
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
  python/kvikio/__init__.py
  python/kvikio/_version.py
  python/pyproject.toml
  python/tests/test_version.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/kvikio-python-codeowners

Remove text builds of documentation (#390)
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Fix copyright year
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

add default name if $USER is undefined
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: @rapidsai/packaging-codeowners

rapids-build-backend for python extension-only wheel
  dependencies.yaml
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix dependencies-file relative path
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

always set cython_lib_dir
  python/kvikio/CMakeLists.txt
Owners: @rapidsai/kvikio-cmake-codeowners

attempt to cut out sed stuff that RBB obviates
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

add RBB for libkvikio
  dependencies.yaml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

install RBB in build_wheel_*scripts
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

rbb in build deps for libkvikio
  dependencies.yaml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

tweak build-backend in libkvikio pyproject.toml
  dependencies.yaml
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

libkvikio dynamic dep for pyproject
  dependencies.yaml
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

allow alpha specs
  dependencies.yaml
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

clean up some unnecessary changes
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  python/kvikio/cmake/CMakeLists.txt
Owners: @rapidsai/ci-codeowners, @rapidsai/kvikio-cmake-codeowners

revert WheelHelpers removal and add note about install_aliased_imported_targets
  python/kvikio/cmake/CMakeLists.txt
Owners: @rapidsai/kvikio-cmake-codeowners

Apply suggestions from code review
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

clean up extraneous skbuild stuff (from review)
  ci/build_wheel_cpp.sh
  dependencies.yaml
  python/kvikio/pyproject.toml
  python/libkvikio/libkvikio/__init__.py
  python/libkvikio/libkvikio/_version.py
  python/libkvikio/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/kvikio-python-codeowners

Apply suggestions from code review
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  python/libkvikio/CMakeLists.txt
Owners: @rapidsai/ci-codeowners, @rapidsai/kvikio-cmake-codeowners

add wheel output (#369)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
  cpp/CMakeLists.txt
  dependencies.yaml
  python/.gitattributes
  python/kvikio/CMakeLists.txt
  python/kvikio/cmake/CMakeLists.txt
  python/kvikio/cmake/thirdparty/WheelHelpers.cmake
  python/kvikio/pyproject.toml
  python/libkvikio/CMakeLists.txt
  python/libkvikio/LICENSE
  python/libkvikio/README.md
  python/libkvikio/libkvikio/VERSION
  python/libkvikio/libkvikio/__init__.py
  python/libkvikio/libkvikio/_version.py
  python/libkvikio/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/kvikio-cmake-codeowners, @rapidsai/packaging-codeowners, @rapidsai/kvikio-python-codeowners

use CUFILE_CHECK_BYTES_DONE
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/stream.hpp
  python/kvikio/tests/test_async_io.py
  python/kvikio/tests/test_basic_io.py
Owners: @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners

config_path()
  cpp/include/kvikio/cufile_config.hpp
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

define CUFILEOP_BASE_ERR
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

doc
  docs/source/quickstart.rst
Owners: none

cmake: include nvtx
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvtx.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

Impl. and use KVIKIO_NVTX_FUNC_RANGE
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/utils.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

annotate both host and device IO
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

cmake: nvtx3::nvtx3-cpp
  cpp/CMakeLists.txt
Owners: @rapidsai/kvikio-cmake-codeowners

Clean up error handling (#394)
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/cufile_config.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
  cpp/include/kvikio/stream.hpp
  python/kvikio/tests/test_async_io.py
  python/kvikio/tests/test_basic_io.py
Owners: @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners

Initial commit
  java/README.md
  java/src/main/java/bindings/kvikio/cufile/CuFile.java
  java/src/main/java/bindings/kvikio/cufile/CuFileDriver.java
  java/src/main/java/bindings/kvikio/cufile/CuFileHandle.java
  java/src/main/java/bindings/kvikio/cufile/CuFileReadHandle.java
  java/src/main/java/bindings/kvikio/cufile/CuFileWriteHandle.java
  java/src/main/java/bindings/kvikio/example/Main.java
  java/src/main/native/src/CuFileJni.cpp
Owners: none

Update documentation to better flash out how to compile and run the example
  java/README.md
Owners: none

code touchups and Readme update
  java/README.md
  java/src/main/java/bindings/kvikio/example/Main.java
  java/src/main/native/src/CuFileJni.cpp
Owners: none

Update README with markdown formatting. Improve instructions and linkage
  java/README.md
Owners: none

Adding NVTX annotations (#395)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvtx.cmake
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/utils.hpp
  docs/source/quickstart.rst
Owners: @rapidsai/kvikio-cmake-codeowners, @rapidsai/kvikio-cpp-codeowners

Avoid --find-links in wheel jobs
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

fix typo
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook (#398)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Avoid --find-links in wheel jobs (#397)
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

Properly quote items in __all__
  python/libkvikio/libkvikio/__init__.py
Owners: @rapidsai/kvikio-python-codeowners
