Repository rapidsai/kvikio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/kvikio-cpp-codeowners, @rapidsai/kvikio-python-codeowners, @rapidsai/kvikio-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Properly quote items in __all__ (#399)
  python/libkvikio/libkvikio/__init__.py
Owners: @rapidsai/kvikio-python-codeowners

skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

skip CMake 3.30.0 (#400)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Add initial maven setup, needs to be debugged
  java/pom.xml
  java/src/main/java/bindings/kvikio/example/Main.java
Owners: none

Update maven build to properly generate shared library
  java/README.md
  java/pom.xml
  java/src/main/java/bindings/kvikio/example/Main.java
Owners: none

Use `#ifdef` to guard `O_DIRECT` usage
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Add `o_direct` support for macOS & Windows
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Skip Windows logic for now
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Configure RDFG for ARM
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Build Conda packages with cuFile on ARM
  conda/recipes/libkvikio/meta.yaml
Owners: @rapidsai/packaging-codeowners

Consolidate CUDA 12 matrix
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update docs
  cpp/doxygen/main_page.md
  docs/source/install.rst
Owners: @rapidsai/kvikio-cpp-codeowners

Build and test with CUDA 12.5.1 (#401)
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners, @rapidsai/kvikio-cpp-codeowners

Rename `.devcontainer`s for CUDA 12.5
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Owners: @rapidsai/packaging-codeowners

Rename `.devcontainer`s for CUDA 12.5 (#406)
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Owners: @rapidsai/packaging-codeowners

Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use workflow branch 24.08 again (#407)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

DOC v24.10 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  cpp/examples/downstream/cmake/get_kvikio.cmake
  dependencies.yaml
  python/kvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners, @rapidsai/kvikio-cmake-codeowners

bs thread pool
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_thread_pool.cmake
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/thread_pool.hpp
Owners: @rapidsai/kvikio-cmake-codeowners, @rapidsai/kvikio-cpp-codeowners

Use rapids_cpm_bs_thread_pool()
  cpp/CMakeLists.txt
  cpp/cmake/rapids_config.cmake
  cpp/cmake/thirdparty/get_thread_pool.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

Style
  cpp/cmake/thirdparty/get_thread_pool.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

Really use fork this time
  cpp/cmake/rapids_config.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

Don't open with `O_DIRECT` when in compat mode
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

cleanup
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

task lamda: capture by copy
  cpp/include/kvikio/parallel_operation.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Unconditionally set variables
  cpp/cmake/rapids_config.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

Restore rapids_config.cmake
  cpp/cmake/rapids_config.cmake
Owners: @rapidsai/kvikio-cmake-codeowners

split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fetch and use BS thread_pool (#408)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_thread_pool.cmake
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/thread_pool.hpp
Owners: @rapidsai/kvikio-cmake-codeowners, @rapidsai/kvikio-cpp-codeowners

cufile-wrapper: include the cuda-wrapper
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

is open_fd() fails, enable compat mode
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

doc
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Don't open with `O_DIRECT` when in compat mode (#410)
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Use `#ifdef` to guard `O_DIRECT` usage (#404)
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

Fix `O_DIRECT` in `defined`
  cpp/include/kvikio/file_handle.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

consolidate cuda_suffixed=false blocks
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

add dependency version updating in update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

Enable cuFile on ARM (#405)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/recipes/libkvikio/meta.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

cufile-wrapper: include the cuda-wrapper (#413)
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
Owners: @rapidsai/kvikio-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/kvikio-cpp-codeowners

#python code owners
python/            @rapidsai/kvikio-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/kvikio-cmake-codeowners
**/cmake/          @rapidsai/kvikio-cmake-codeowners
build.sh           @rapidsai/kvikio-cmake-codeowners
python/setup.py    @rapidsai/kvikio-cmake-codeowners @rapidsai/kvikio-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
