Repository rapidsai/kvikio, changes with the labels that .github/labeler.yml gives for each.
All labels: KvikIO (Python), libkvikio, CMake, ci, conda

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

KvikIO (Python):
  - 'python/**'
  - 'notebooks/**'

libkvikio:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
  - 'ci/**'

conda:
  - 'conda/**'

updating ops-bot.yaml (#335)
  .github/ops-bot.yaml
Labels: none

Bump to nvcomp 3.0.6.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Labels: conda

Remove extraneous cudf dependency.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: ci, conda

Bump to nvcomp 3.0.6. (#346)
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Labels: ci, conda

REL v24.02.01 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  legate/legate_kvikio/__init__.py
  legate/pyproject.toml
  python/CMakeLists.txt
  python/kvikio/__init__.py
  python/pyproject.toml
Labels: KvikIO (Python), libkvikio, CMake

Add support for Python 3.11.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
Labels: libkvikio, conda

recommend 3.11 in installation docs
  docs/source/install.rst
Labels: none
