Repository rapidsai/kvikio, pull requests merged in 2022-05, with the labels that each got.

#54 compat_mode per `FileHandle`
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/posix_io.hpp
  python/tests/test_basic_io.py
Labels: improvement, non-breaking, c++

#67 Use namespace kvikio::detail
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
Labels: improvement, non-breaking, c++

#69 Mark detail functions as inline
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/file_handle.hpp
Labels: bug, non-breaking, c++

#68 Use CMake provided targets for the cuda driver and dl libraries
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#70 dlopen `libcuda.so`
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking, c++

#71 Use conda compilers
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: improvement, non-breaking

#74 Fix conda recipes
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: improvement, non-breaking
