Repository rapidsai/kvikio, pull requests merged in 2022-04, with the labels that each got.

#52 Add `ops-bot.yaml` config file
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#51 python: bump versions to v22.06
  python/CMakeLists.txt
  python/kvikio/cufile.py
  python/kvikio/defaults.py
  python/kvikio/nvcomp.py
  python/kvikio/thread_pool.py
  python/setup.py
  python/tests/conftest.py
  python/versioneer.py
  scripts/format-all.py
  scripts/run-clang-format.py
Labels: improvement, non-breaking, python

#53 Add new files to update version script
  ci/release/update-version.sh
Labels: bug, non-breaking

#56 rapids_export(): typo in argument
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#58 Embed Cython docstrings in generated files.
  python/CMakeLists.txt
Labels: bug, non-breaking

#62 Use conda to build python packages during GPU tests
  ci/gpu/build.sh
Labels: improvement, non-breaking

#64 Build kvikio using libkvikio from CPU job in GPU job
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: improvement, non-breaking
