Repository rapidsai/kvikio, pull requests merged in 2022-03, with the labels that each got.

#21 Enable compat mode when runnning in WSL
  cpp/include/kvikio/config.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking

#22 POSIX read/write reuse allocations
  cpp/include/kvikio/posix_io.hpp
Labels: improvement, non-breaking, c++

#34 Auto detect running inside docker
  ci/gpu/build.sh
  cpp/include/kvikio/config.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking, c++

#31 Start publishing docs for libkvikio / kvikio
  .gitignore
  ci/docs/build.sh
  ci/release/update-version.sh
  cpp/doxygen/Doxyfile
  cpp/doxygen/main_page.md
  cpp/doxygen/rapids.css
  docs/Makefile
  docs/make.bat
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
Labels: doc, improvement, non-breaking

#38 Implement FileHandle::nbytes()
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/file_handle.hpp
Labels: improvement, non-breaking, c++

#42 python: fixing url
  python/cmake/kvikio_python_helpers.cmake
  python/setup.py
Labels: improvement, non-breaking, python

#43 Fallback to Compat mode when `cufile.h` isn't found
  cpp/CMakeLists.txt
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking, c++

#45 Posix-IO: use `cuMemHostAlloc()`
  cpp/include/kvikio/posix_io.hpp
  python/tests/test_basic_io.py
Labels: improvement, non-breaking, c++

#24 [Feature] Add Nvcomp python bindings to kvikio.
  notebooks/nvcomp_vs_zarr_lz4.ipynb
  python/.flake8
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/thirdparty/get_nvcomp.cmake
  python/kvikio/__init__.py
  python/kvikio/_lib/CMakeLists.txt
  python/kvikio/_lib/libnvcomp.pyx
  python/kvikio/_lib/nvcomp_cxx_api.pxd
  python/kvikio/nvcomp.py
  python/pyproject.toml
  python/tests/test_nvcomp.py
  scripts/format-all.py
Labels: improvement, non-breaking, python

#47 Clean up config
  cpp/include/kvikio/config.hpp
Labels: improvement, non-breaking, c++

#48 Re-implement configuration
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/config.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/thread_pool.hpp
  cpp/include/kvikio/thread_pool/default.hpp
  docs/source/api.rst
  python/benchmarks/single-node-io.py
  python/kvikio/_lib/kvikio_cxx_api.pxd
  python/kvikio/_lib/libkvikio.pyx
  python/kvikio/config.py
  python/kvikio/cufile.py
  python/kvikio/defaults.py
  python/kvikio/thread_pool.py
  python/tests/test_basic_io.py
Labels: breaking, doc, improvement, python, c++

#49 Implement task size for parallel IO operations
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/utils.hpp
  python/benchmarks/single-node-io.py
  python/kvikio/_lib/kvikio_cxx_api.pxd
  python/kvikio/_lib/libkvikio.pyx
  python/kvikio/cufile.py
  python/kvikio/defaults.py
  python/tests/test_basic_io.py
  python/tests/test_defaults.py
Labels: breaking, improvement, python, c++
