Repository rapidsai/kvikio, pull requests merged in 2022-08, with the labels that each got.

#91 add Notes related to page-aligned read/write methods to the Python docstrings
  python/kvikio/cufile.py
Labels: doc, non-breaking

#95 [REVIEW] Fix issues with day & night modes in docs
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/rapids.css
  docs/source/conf.py
Labels: doc, non-breaking

#101 Require `python` in `run`
  conda/recipes/kvikio/meta.yaml
Labels: bug, non-breaking

#103 Conda environment file
  conda/environments/kvikio_dev_cuda11.5.yml
Labels: improvement, non-breaking

#105 [REVIEW] Use documented header template for `doxygen`
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/header.html
Labels: doc, non-breaking

#107 Add stable channel install instruction
  README.md
Labels: doc, non-breaking

#82 Support host memory
  cpp/CMakeLists.txt
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/utils.hpp
  python/kvikio/_lib/libkvikio.pyx
  python/kvikio/cufile.py
  python/tests/test_basic_io.py
  python/tests/test_benchmarks.py
Labels: improvement, non-breaking

#108 CI: install cuDF to test nvCOMP
  ci/gpu/build.sh
Labels: bug, non-breaking

#100 CI: build without cuFile
  ci/gpu/build.sh
  conda/recipes/libkvikio/build.sh
  conda/recipes/libkvikio/meta.yaml
  cpp/examples/CMakeLists.txt
  cpp/include/kvikio/driver.hpp
Labels: improvement, non-breaking

#114 [REVIEW] Defer loading of `custom.js`
  docs/source/conf.py
Labels: doc, non-breaking

#121 document channel_priority for conda
  README.md
Labels: improvement, non-breaking

#118 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  cpp/cmake/fetch_rapids.cmake
Labels: improvement, non-breaking

#124 Update versioneer to v0.22
  .gitignore
  python/.gitattributes
  python/kvikio/_version.py
  python/versioneer.py
Labels: improvement, non-breaking

#123 Rename `reset_num_threads()` and `reset_task_size()`
  docs/source/api.rst
  python/benchmarks/single-node-io.py
  python/kvikio/defaults.py
  python/kvikio/thread_pool.py
  python/tests/test_defaults.py
Labels: breaking, improvement

#122 Fixing `kvikio_dev_cuda11.5.yml` and clean up
  README.md
  conda/environments/kvikio_dev_cuda11.5.yml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: bug, non-breaking

#120 Update nvComp bindings to 2.3.3
  python/cli/gpu_compressor.py
  python/cmake/thirdparty/get_nvcomp.cmake
  python/kvikio/_lib/CMakeLists.txt
  python/kvikio/_lib/libnvcomp.pyx
  python/kvikio/_lib/nvcomp_cxx_api.pxd
  python/kvikio/nvcomp.py
  python/tests/conftest.py
  python/tests/test_nvcomp.py
Labels: improvement, non-breaking
