Repository rapidsai/kvikio, pull requests merged in 2022-09, with the labels that each got.

#127 Set version when dlopen() cuda and cufile
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cufile.hpp
Labels: improvement, non-breaking

#128 Allow cupy 11
  conda/environments/kvikio_dev_cuda11.5.yml
Labels: improvement, non-breaking

#29 Standalone Downstream C++ Build Example
  ci/gpu/build.sh
  cpp/examples/downstream/CMakeLists.txt
  cpp/examples/downstream/cmake/get_cpm.cmake
  cpp/examples/downstream/cmake/get_kvikio.cmake
  cpp/examples/downstream/downstream_example.cpp
Labels: improvement, non-breaking, c++

#129 Use Zarr v2.13.0a2
  python/benchmarks/single-node-io.py
  python/kvikio/zarr.py
  python/tests/test_benchmarks.py
  python/tests/test_zarr.py
Labels: improvement, non-breaking

#132 Document that minimum required CMake version is now 3.23.1
  conda/environments/kvikio_dev_cuda11.5.yml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
  cpp/CMakeLists.txt
  cpp/examples/downstream/CMakeLists.txt
  python/CMakeLists.txt
  python/pyproject.toml
Labels: doc, non-breaking
