Repository rapidsai/kvikio, pull requests merged in 2023-09, with the labels that each got.

#272 async: fall back to blocking
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cuda.hpp
Labels: improvement, non-breaking

#278 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking

#268 Docs
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  cpp/include/kvikio/defaults.hpp
  dependencies.yaml
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  docs/source/quickstart.rst
  docs/source/runtime_settings.rst
  docs/source/zarr.rst
  python/examples/zarr_cupy_nvcomp.py
Labels: doc, non-breaking

#279 minor doc fixes
  cpp/doxygen/main_page.md
  docs/source/index.rst
Labels: doc, non-breaking

#273 Add KvikIO devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  dependencies.yaml
  python/CMakeLists.txt
  python/kvikio/_lib/CMakeLists.txt
Labels: improvement, non-breaking

#280 Update to clang 16.0.6.
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#275 Async I/O using by-value arguments
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/stream.hpp
Labels: improvement, non-breaking

#284 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#286 Add missed filename to sed_runner call
  ci/release/update-version.sh
Labels: bug, non-breaking

#274 Zarr-IO Benchmark
  python/benchmarks/zarr-io.py
Labels: improvement, non-breaking

#289 Use branch-23.10 for devcontainers workflow.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#292 Merge branch-23.10 into branch-23.12 and fix devcontainer CI workflow.
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  ci/release/update-version.sh
Labels: improvement, non-breaking

#282 kvikio: Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
Labels: improvement, non-breaking
