Repository rapidsai/kvikio, pull requests merged in 2023-05, with the labels that each got.

#210 Enable sccache hits for local builds
  conda/recipes/libkvikio/meta.yaml
Labels: improvement, non-breaking

#213 Update cupy dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#202 Use the new registry and mapper API of Legate
  legate/cpp/legate_kvikio.cpp
  legate/cpp/legate_mapping.cpp
  legate/cpp/legate_mapping.hpp
  legate/cpp/tile_io.cpp
  legate/legate_kvikio/library_description.py
Labels: breaking, improvement

#214 mypy: bump to v1.3.0
  .pre-commit-config.yaml
  python/kvikio/_lib/arr.pyi
  python/kvikio/cufile.py
Labels: improvement, non-breaking

#219 fixed import of `ArrayLike` and `DTypeLike`
  python/kvikio/numpy.py
Labels: bug, non-breaking

#221 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking

#218 Update docs
  README.md
  ci/docs/build.sh
  ci/release/update-version.sh
  docs/source/index.rst
Labels: doc, non-breaking

#226 Add sccache s3 controls
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: bug, non-breaking

#222 Legate HDF5 using kerchunk
  legate/benchmarks/hdf5_read.py
  legate/cpp/task_opcodes.hpp
  legate/cpp/tile_io.cpp
  legate/examples/hdf5_io.py
  legate/examples/zarr_io.py
  legate/legate_kvikio/kerchunk.py
  legate/legate_kvikio/library_description.py
  legate/legate_kvikio/tile.py
  legate/legate_kvikio/zarr.py
  legate/tests/test_basic_io.py
  legate/tests/test_kerchunk.py
  legate/tests/test_zarr.py
Labels: improvement, non-breaking, legate
