Repository rapidsai/kvikio, pull requests merged in 2023-06, with the labels that each got.

#220 C++ bindings to the Batch API
  cpp/CMakeLists.txt
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/batch.hpp
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking

#230 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking

#238 Update to CMake 3.26.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/downstream/CMakeLists.txt
  dependencies.yaml
  legate/CMakeLists.txt
  legate/pyproject.toml
  python/CMakeLists.txt
  python/pyproject.toml
Labels: improvement, non-breaking

#237 Fix libcufile dependency.
  dependencies.yaml
Labels: bug, non-breaking

#239 Disable the batch API when in compatibility mode
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/batch.hpp
  cpp/include/kvikio/shim/cufile.hpp
Labels: bug, non-breaking

#240 Clean up isort configs
  legate/pyproject.toml
  python/pyproject.toml
Labels: improvement, non-breaking

#243 Unify `KVIKIO_CUFILE_FOUND`
  cpp/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/include/kvikio/batch.hpp
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
Labels: bug, non-breaking

#244 Adding code owners
  .github/CODEOWNERS
  .github/labeler.yml
Labels: improvement, non-breaking

#241 Clean up dependency lists
  ci/release/update-version.sh
  dependencies.yaml
  legate/pyproject.toml
  python/pyproject.toml
Labels: improvement, non-breaking

#131 Use the Zarr's new `getitems()` API
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
  legate/pyproject.toml
  python/benchmarks/single-node-io.py
  python/kvikio/zarr.py
  python/pyproject.toml
  python/tests/test_benchmarks.py
  python/tests/test_zarr.py
Labels: improvement, non-breaking

#247 Use cuda-version to constrain cudatoolkit.
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#245 Use nvcomp conda package.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda
