Repository rapidsai/kvikio, pull requests merged in 2023-04, with the labels that each got.

#189 Fallback to use the CUDA primary context
  cpp/CMakeLists.txt
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/utils.hpp
  python/tests/test_basic_io.py
Labels: bug, non-breaking

#196 Update clang-format to 16.0.1.
  .pre-commit-config.yaml
  cpp/include/kvikio/driver.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/include/kvikio/utils.hpp
  legate/cpp/legate_mapping.cpp
Labels: improvement, non-breaking

#195 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#199 `load_library()`: fixed the mode argument, which was ignored by mistake
  cpp/include/kvikio/shim/utils.hpp
Labels: bug, non-breaking

#201 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking

#197 Add API to get compatibility mode status in a FileHandle object
  cpp/include/kvikio/file_handle.hpp
Labels: improvement, non-breaking

#198 Legate Zarr
  legate/benchmarks/single-node-io.py
  legate/benchmarks/zarr_read.py
  legate/cpp/legate_mapping.cpp
  legate/cpp/task_opcodes.hpp
  legate/cpp/tile_io.cpp
  legate/legate_kvikio/library_description.py
  legate/legate_kvikio/tile.py
  legate/legate_kvikio/zarr.py
  legate/tests/test_basic_io.py
  legate/tests/test_zarr.py
Labels: improvement, non-breaking

#203 Only look for libcufile.so.0
  cpp/include/kvikio/shim/cufile.hpp
Labels: improvement, non-breaking

#206 Drop Python 3.8 and run Python 3.9 tests/builds
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  legate/setup.cfg
  legate/setup.py
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: breaking, improvement

#205 isort clean up
  .pre-commit-config.yaml
  legate/benchmarks/single-node-io.py
  legate/benchmarks/zarr_read.py
  legate/examples/basic_io.py
  legate/legate_kvikio/library_description.py
  legate/setup.cfg
  legate/tests/test_basic_io.py
  legate/tests/test_zarr.py
  python/setup.cfg
Labels: improvement, non-breaking

#207 Update README.
  README.md
Labels: doc, non-breaking

#208 Zarr+nvCOMP
  python/benchmarks/single-node-io.py
  python/kvikio/zarr.py
  python/tests/test_zarr.py
Labels: improvement, non-breaking

#209 Revert to branch-23.06 for shared-action-workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
