Repository rapidsai/kvikio, pull requests merged in 2023-08, with the labels that each got.

#253 Enable roundtrip for nvCOMP batch codecs.
  python/kvikio/_lib/libnvcomp_ll.pyx
  python/kvikio/_lib/nvcomp_ll_cxx_api.pxd
  python/kvikio/nvcomp_codec.py
  python/tests/test_nvcomp_codec.py
Labels: improvement, non-breaking

#262 fixes #254
  cpp/examples/basic_io.cpp
Labels: bug, non-breaking

#261 Zarr notebook
  .gitignore
  README.md
  notebooks/zarr.ipynb
Labels: doc, non-breaking

#258 Update to Cython 3.0.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
  legate/pyproject.toml
  python/kvikio/_lib/libkvikio.pyx
  python/kvikio/_lib/libnvcomp_ll.pyx
  python/kvikio/_lib/nvcomp_cxx_api.pxd
  python/pyproject.toml
Labels: breaking, improvement

#259 Initial changes to support cufile stream I/O.
  cpp/CMakeLists.txt
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
Labels: improvement, non-breaking

#267 Zarr+CuPy+GDS+nvCOMP made easy
  python/examples/zarr_cupy_nvcomp.py
  python/kvikio/nvcomp_codec.py
  python/kvikio/zarr.py
  python/tests/test_examples.py
  python/tests/test_zarr.py
Labels: improvement, non-breaking

#269 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#271 Unify batch and stream API check
  cpp/CMakeLists.txt
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
Labels: improvement, non-breaking
