Repository rapidsai/kvikio, pull requests merged in 2023-03, with the labels that each got.

#180 [REVIEW] Fix docs build to be `pydata-sphinx-theme=0.13.0` compatible
  docs/source/conf.py
Labels: improvement, non-breaking

#179 Update to GCC 11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#181 Support of stream ordered device memory allocations (async mallocs)
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/utils.hpp
  python/tests/conftest.py
  python/tests/test_basic_io.py
  python/tests/test_numpy.py
Labels: bug, non-breaking

#184 posix_io: fix error message and allow `nbytes == 0` on write
  cpp/include/kvikio/posix_io.hpp
Labels: bug, non-breaking

#183 Legate Support
  .clang-format
  .clang-tidy
  .pre-commit-config.yaml
  legate/CMakeLists.txt
  legate/benchmarks/multi-node-io.py
  legate/cpp/CMakeLists.txt
  legate/cpp/legate_kvikio.cpp
  legate/cpp/legate_mapping.cpp
  legate/cpp/legate_mapping.hpp
  legate/cpp/task_opcodes.hpp
  legate/examples/basic_io.py
  legate/legate_kvikio/__init__.py
  legate/legate_kvikio/_version.py
  legate/legate_kvikio/cufile.py
  legate/legate_kvikio/library_description.py
  legate/legate_kvikio/utils.py
  legate/setup.cfg
  legate/setup.py
  legate/tests/test_basic_io.py
  legate/versioneer.py
Labels: improvement, non-breaking

#185 Implement `build.sh`
  .gitignore
  build.sh
  legate/CMakeLists.txt
  legate/cpp/CMakeLists.txt
Labels: help wanted, improvement, non-breaking

#188 Remove underscore in build string.
  conda/recipes/kvikio/meta.yaml
Labels: improvement, non-breaking
