Repository rapidsai/kvikio, pull requests merged in 2024-10, with the labels that each got.

#475 Touch ups to `Array`
  python/kvikio/kvikio/_lib/arr.pxd
  python/kvikio/kvikio/_lib/arr.pyx
Labels: improvement, non-breaking

#478 Use nvcomp wheel instead of bundling nvcomp
  ci/build_wheel_python.sh
  dependencies.yaml
  python/kvikio/CMakeLists.txt
  python/kvikio/kvikio/_lib/CMakeLists.txt
  python/kvikio/pyproject.toml
Labels: improvement, non-breaking

#481 Add license to kvikio wheel
  python/kvikio/LICENSE
Labels: bug, non-breaking

#480 Docs cleanup
  README.md
  docs/source/conf.py
Labels: doc, non-breaking

#484 Fix no-cuda build
  cpp/CMakeLists.txt
  cpp/include/kvikio/utils.hpp
Labels: bug, non-breaking

#492 Visibility of static class methods
  cpp/include/kvikio/bounce_buffer.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/include/kvikio/utils.hpp
Labels: bug, non-breaking

#489 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#464 Remote IO: http support
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcurl.cmake
  cpp/include/kvikio/remote_handle.hpp
  cpp/include/kvikio/shim/libcurl.hpp
  dependencies.yaml
  docs/source/api.rst
  docs/source/index.rst
  docs/source/remote_file.rst
  python/kvikio/examples/http_io.py
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/CMakeLists.txt
  python/kvikio/kvikio/_lib/remote_handle.pyx
  python/kvikio/kvikio/benchmarks/http_io.py
  python/kvikio/kvikio/remote_file.py
  python/kvikio/kvikio/utils.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_benchmarks.py
  python/kvikio/tests/test_examples.py
  python/kvikio/tests/test_http_io.py
Labels: improvement, non-breaking

#495 make conda installs in CI stricter
  ci/build_docs.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking

#493 Small improvements
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
Labels: breaking, improvement

#498 Simplify `_to_string` encoding of Python `str`s
  python/kvikio/kvikio/_lib/remote_handle.pyx
Labels: improvement, non-breaking

#502 Mark all of `Array`'s `nogil` `cdef` functions as `noexcept`
  python/kvikio/kvikio/_lib/arr.pyx
Labels: improvement, non-breaking

#503 Disabling curl tests doesn't now disable kvikio cpp tests
  cpp/cmake/thirdparty/get_libcurl.cmake
Labels: bug, non-breaking

#504 Use Cython's `array` to back `Py_ssize_t[::1]`
  python/kvikio/kvikio/_lib/arr.pyx
Labels: improvement, non-breaking

#479 Remote IO: S3 support
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  cpp/include/kvikio/remote_handle.hpp
  dependencies.yaml
  python/kvikio/kvikio/_lib/remote_handle.pyx
  python/kvikio/kvikio/benchmarks/s3_io.py
  python/kvikio/kvikio/remote_file.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_benchmarks.py
  python/kvikio/tests/test_http_io.py
  python/kvikio/tests/test_s3_io.py
Labels: improvement, non-breaking

#505 Include <utility> since we use std::exchange
  cpp/include/kvikio/stream.hpp
Labels: bug, non-breaking

#507 Stop tagging wheels as arch-agnostic
  ci/build_wheel_cpp.sh
Labels: bug, non-breaking

#516 Don't use macros for cuda driver functions
  cpp/include/kvikio/shim/cuda_h_wrapper.hpp
Labels: bug, non-breaking

#517 Minor README fixes
  README.md
Labels: improvement, non-breaking

#522 CurlHandle: fix error message handling
  cpp/include/kvikio/shim/libcurl.hpp
Labels: bug, non-breaking

#525 Upgrade nvcomp to 4.1.0.6
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: feature request, non-breaking

#519 RemoteIO: use a pinned bounce buffer
  cpp/include/kvikio/bounce_buffer.hpp
  cpp/include/kvikio/remote_handle.hpp
Labels: improvement, non-breaking

#518 Use registered strings for NVTX. Add more NVTX annotations.
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/remote_handle.hpp
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking
