Repository rapidsai/kvikio, pull requests merged in 2024-12, with the labels that each got.

#564 Remove upper bounds on cuda-python to allow 12.6.2 and 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: feature request, non-breaking

#565 cufile version
  cpp/CMakeLists.txt
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/remote_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
  python/kvikio/kvikio/_lib/cufile_driver.pyx
  python/kvikio/kvikio/benchmarks/utils.py
  python/kvikio/kvikio/cufile_driver.py
  python/kvikio/tests/test_cufile_driver.py
Labels: breaking, bug

#513 Add CUDA libs in Python Conda, Consolidate Conda CI installs & use `rapids-dask-dependency`
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  conda/recipes/libkvikio/meta.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: improvement, non-breaking

#573 Update cuda-python lower bounds to 12.6.2 / 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: improvement, non-breaking

#567 Improve compatibility mode consistency
  cpp/src/file_handle.cpp
Labels: improvement, non-breaking, c++

#574 Use curl >=8.5.0 to align with conda-forge and avoid CVEs.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  cpp/cmake/thirdparty/get_libcurl.cmake
  dependencies.yaml
Labels: breaking, bug

#579 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking
