Repository rapidsai/kvikio, pull requests merged in 2024-05, with the labels that each got.

#372 Refactor: move cufile header checks to the shim layer
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
Labels: improvement, non-breaking

#375 Enable Warnings as errors for Python tests
  python/pyproject.toml
Labels: improvement, non-breaking

#371 Migrate to `{{ stdlib("c") }}`
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: improvement, non-breaking, conda

#374 POSIX IO: use async memcpy
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda.hpp
Labels: improvement, non-breaking

#376 Initial Python Interface for cufile Async IO
  python/kvikio/_lib/kvikio_cxx_api.pxd
  python/kvikio/_lib/libkvikio.pyx
  python/kvikio/cufile.py
  python/tests/test_async_io.py
Labels: improvement, non-breaking

#379 Move cuFile linking to kvikio target
  cpp/CMakeLists.txt
  cpp/examples/CMakeLists.txt
Labels: bug, non-breaking, conda

#381 Fix conda recipe for kvikio
  build.sh
  conda/recipes/kvikio/build.sh
  conda/recipes/kvikio/meta.yaml
Labels: bug, non-breaking, python, conda

#385 remove unnecessary 'setuptools' dependency
  CONTRIBUTING.md
  conda/recipes/kvikio/meta.yaml
Labels: improvement, non-breaking, conda
