Repository rapidsai/kvikio, pull requests merged in 2024-02, with the labels that each got.

#331 handle more RAPIDS version formats in update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking

#336 Exclude tests from builds
  python/pyproject.toml
Labels: bug, non-breaking

#328 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
  dependencies.yaml
Labels: feature request, non-breaking, conda

#342 Defer cuFile feature checks until finding kvikio package
  cpp/CMakeLists.txt
  cpp/examples/CMakeLists.txt
Labels: bug, non-breaking

#343 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#346 Bump to nvcomp 3.0.6.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Labels: bug, non-breaking

#345 remove legate
  .github/CODEOWNERS
  .github/labeler.yml
  .gitignore
  .pre-commit-config.yaml
  build.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  legate/CMakeLists.txt
  legate/benchmarks/hdf5_read.py
  legate/benchmarks/single-node-io.py
  legate/benchmarks/zarr_read.py
  legate/cpp/CMakeLists.txt
  legate/cpp/legate_kvikio.cpp
  legate/cpp/legate_mapping.cpp
  legate/cpp/legate_mapping.hpp
  legate/cpp/task_opcodes.hpp
  legate/cpp/tile_io.cpp
  legate/examples/basic_io.py
  legate/examples/hdf5_io.py
  legate/examples/zarr_io.py
  legate/legate_kvikio/__init__.py
  legate/legate_kvikio/cufile.py
  legate/legate_kvikio/kerchunk.py
  legate/legate_kvikio/library_description.py
  legate/legate_kvikio/tile.py
  legate/legate_kvikio/utils.py
  legate/legate_kvikio/zarr.py
  legate/pyproject.toml
  legate/setup.py
  legate/tests/test_basic_io.py
  legate/tests/test_kerchunk.py
  legate/tests/test_zarr.py
Labels: breaking, improvement

#338 Add environment-agnostic scripts for running ctests and pytests
  ci/run_ctests.sh
  ci/run_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking

#344 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#350 Add support for Python 3.11, require NumPy 1.23+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
  python/pyproject.toml
Labels: improvement, non-breaking
