Repository rapidsai/kvikio, pull requests merged in 2024-11, with the labels that each got.

#514 Python bindings to `cuFileDriverOpen()` and `cuFileDriverClose()`
  ci/run_pytests.sh
  ci/test_wheel.sh
  cpp/examples/basic_io.cpp
  cpp/examples/basic_no_cuda.cpp
  cpp/examples/downstream/downstream_example.cpp
  cpp/include/kvikio/cufile/config.hpp
  cpp/include/kvikio/cufile/driver.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/stream.hpp
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/CMakeLists.txt
  python/kvikio/kvikio/_lib/cufile_driver.pyx
  python/kvikio/kvikio/benchmarks/utils.py
  python/kvikio/kvikio/cufile_driver.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_cufile_driver.py
Labels: improvement, non-breaking

#532 to
  docs/source/zarr.rst
Labels: doc, non-breaking

#534 Fix case of find_package call
  python/kvikio/CMakeLists.txt
Labels: bug, non-breaking

#527 Build KvikIO as a shared library
  .devcontainer/Dockerfile
  README.md
  ci/build_wheel.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcurl.cmake
  cpp/doxygen/main_page.md
  cpp/examples/downstream/CMakeLists.txt
  cpp/include/kvikio/remote_handle.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/src/remote_handle.cpp
  cpp/tests/CMakeLists.txt
  dependencies.yaml
  python/kvikio/cmake/thirdparty/get_nvcomp.cmake
  python/kvikio/kvikio/__init__.py
  python/kvikio/pyproject.toml
  python/libkvikio/CMakeLists.txt
  python/libkvikio/libkvikio/__init__.py
  python/libkvikio/libkvikio/load.py
Labels: breaking, improvement

#539 Moving details in file_handle.hpp to .cpp
  cpp/CMakeLists.txt
  cpp/include/kvikio/file_handle.hpp
  cpp/src/file_handle.cpp
  cpp/src/remote_handle.cpp
Labels: bug, non-breaking

#537 Disallow cuda-python 12.6.1 and 11.8.4
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: bug, non-breaking

#540 Fix exporting of include directories
  cpp/CMakeLists.txt
Labels: bug, non-breaking

#545 remove WheelHelpers.cmake
  python/kvikio/cmake/CMakeLists.txt
  python/kvikio/cmake/thirdparty/WheelHelpers.cmake
Labels: improvement, non-breaking

#509 S3 benchmark: adding cudf-kvikio and cudf-fsspec
  python/kvikio/kvikio/benchmarks/s3_io.py
Labels: improvement, non-breaking

#551 prefer wheel-provided libkvikio.so, use RTLD_LOCAL
  python/libkvikio/libkvikio/load.py
Labels: improvement, non-breaking

#550 Backport `FindCUDAToolkit` from CMake 3.31
  .pre-commit-config.yaml
  cpp/cmake/Modules/FindCUDAToolkit.cmake
Labels: bug, non-breaking

#553 fix library-loading issues in editable installs
  .github/workflows/pr.yaml
  python/libkvikio/libkvikio/load.py
Labels: bug, non-breaking

#547 Add a new KvikIO compatibility mode "AUTO"
  cpp/doxygen/main_page.md
  cpp/examples/basic_io.cpp
  cpp/examples/basic_no_cuda.cpp
  cpp/include/kvikio/batch.hpp
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/src/file_handle.cpp
  cpp/tests/test_basic_io.cpp
  cpp/tests/test_defaults.cpp
  cpp/tests/utils.hpp
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/defaults.pyx
  python/kvikio/kvikio/defaults.py
  python/kvikio/tests/test_defaults.py
Labels: breaking, feature request, c++

#396 Add Initial Java Support for GDS to KvikIO
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  ci/test_java.sh
  dependencies.yaml
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/kvikio/cufile/CuFile.java
  java/src/main/java/ai/rapids/kvikio/cufile/CuFileDriver.java
  java/src/main/java/ai/rapids/kvikio/cufile/CuFileHandle.java
  java/src/main/java/ai/rapids/kvikio/cufile/CuFileReadHandle.java
  java/src/main/java/ai/rapids/kvikio/cufile/CuFileWriteHandle.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CuFileJni.cpp
  java/src/test/java/ai/rapids/kvikio/cufile/BasicReadWriteTest.java
Labels: improvement, non-breaking

#559 Fix the pytest error for async io
  python/kvikio/tests/test_async_io.py
Labels: bug, non-breaking, python

#536 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#563 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking
