Repository rapidsai/kvikio, pull requests merged in 2024-09, with the labels that each got.

#454 Non-static bounce buffer option
  cpp/doxygen/main_page.md
  cpp/include/kvikio/bounce_buffer.hpp
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/buffer.pyx
  python/kvikio/kvikio/benchmarks/single_node_io.py
  python/kvikio/kvikio/buffer.py
  python/kvikio/kvikio/defaults.py
  python/kvikio/tests/test_basic_io.py
Labels: improvement, non-breaking

#450 Use nvcomp defaults for algo options.
  python/kvikio/kvikio/_lib/libnvcomp_ll.pyx
  python/kvikio/kvikio/_lib/nvcomp_ll_cxx_api.pxd
Labels: improvement, non-breaking, python

#458 Add support for Python 3.12, relax numcodecs pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Labels: improvement, non-breaking

#449 Update nvcomp to 4.0.1
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
Labels: feature request, non-breaking

#462 Intentionally leak static CUDA resources to avoid crash (part 2)
  cpp/include/kvikio/posix_io.hpp
Labels: bug, non-breaking

#461 remove pytest dependency in kvikio conda recipe
  conda/recipes/kvikio/meta.yaml
Labels: improvement, non-breaking

#465 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#455 Skip cufile and nvtx3 when cuda isn't found
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#466 Remove now unnecessary variable
  build.sh
  ci/build_wheel_python.sh
  python/kvikio/CMakeLists.txt
Labels: breaking, improvement

#469 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking

#472 Fix release-after-main bug in `get_primary_cuda_context`
  cpp/include/kvikio/cufile_config.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/utils.hpp
Labels: bug, non-breaking

#474 nvtx support macos
  cpp/include/kvikio/utils.hpp
Labels: improvement, non-breaking

#440 C++ Test
  ci/run_ctests.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tests/main.cpp
  cpp/tests/test_basic_io.cpp
  cpp/tests/utils.hpp
  dependencies.yaml
Labels: improvement, non-breaking
