Repository rapidsai/kvikio, pull requests merged in 2025-05, with the labels that each got.

#703 Fix benchmark code on MIG
  python/kvikio/kvikio/benchmarks/utils.py
Labels: bug, non-breaking

#708 feat: add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Labels: improvement, non-breaking

#710 resolve forward-merge from branch-25.06 to branch-25.08
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
  python/kvikio/pyproject.toml
  python/libkvikio/pyproject.toml
Labels: improvement, non-breaking

#715 Build and test with CUDA 12.9.0
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#717 Quote head_rev in conda recipes
  conda/recipes/kvikio/recipe.yaml
  conda/recipes/libkvikio/recipe.yaml
Labels: improvement, non-breaking

#718 Update to clang 20
  .pre-commit-config.yaml
  cpp/src/file_utils.cpp
  cpp/src/shim/utils.cpp
Labels: improvement, non-breaking

#714 Deprecate nvCOMP python API
  README.md
  python/kvikio/kvikio/_nvcomp.py
  python/kvikio/kvikio/_nvcomp_codec.py
  python/kvikio/kvikio/defaults.py
  python/kvikio/kvikio/nvcomp.py
  python/kvikio/kvikio/nvcomp_codec.py
  python/kvikio/kvikio/utils.py
  python/kvikio/kvikio/zarr/_zarr_python_2.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_utils.py
Labels: feature request, non-breaking, python

#719 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#723 Fix doc build error
  python/kvikio/kvikio/utils.py
Labels: doc, non-breaking

#725 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking

#728 Use `try...finally...` to ensure buffer is released
  python/kvikio/kvikio/_lib/arr.pyx
Labels: bug, non-breaking

#731 Revert "Provide API to detect C2C platform and add NVML shim"
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/kvikio/recipe.yaml
  conda/recipes/libkvikio/recipe.yaml
  cpp/CMakeLists.txt
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cuda_h_wrapper.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/shim/cuda.cpp
  cpp/src/shim/cufile.cpp
  cpp/src/shim/nvml.cpp
  cpp/src/shim/nvml.hpp
  cpp/src/shim/nvml_h_wrapper.hpp
  cpp/src/shim/utils.hpp
  cpp/src/utils.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_utils.cpp
  dependencies.yaml
Labels: bug, non-breaking

#734 stop uploading packages to downloads.rapids.ai
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: breaking, improvement

#735 Add an overload getenv_or that supports env var alias. Add new env var KVIKIO_NUM_THREADS. Fix UB.
  cpp/include/kvikio/defaults.hpp
  cpp/src/defaults.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_defaults.cpp
  cpp/tests/utils/env.cpp
  cpp/tests/utils/env.hpp
Labels: bug, non-breaking, c++

#738 Remove CUDA 11 devcontainers and update CI scripts
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  ci/run_pytests.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking
