Repository rapidsai/kvikio, pull requests merged in 2025-04, with the labels that each got.

#652 Use latest release of cmake-maven-plugin
  java/pom.xml
Labels: improvement, non-breaking

#672 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: improvement, non-breaking

#674 chore(conda): enable strict channel priority for conda build
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking

#695 Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  python/kvikio/CMakeLists.txt
  python/libkvikio/CMakeLists.txt
Labels: bug, non-breaking

#699 zarr-python 3.0.7 compatibility
  python/kvikio/kvikio/zarr/_zarr_python_3.py
Labels: bug, non-breaking

#697 Improve unit tests; add a dedicated macro for Linux system calls
  cpp/include/kvikio/error.hpp
  cpp/src/error.cpp
  cpp/src/file_utils.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/main.cpp
  cpp/tests/test_basic_io.cpp
  cpp/tests/test_defaults.cpp
  cpp/tests/test_error.cpp
  cpp/tests/utils/utils.hpp
  python/kvikio/tests/test_basic_io.py
Labels: improvement, non-breaking, c++

#698 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_python.sh
  ci/test_cpp.sh
  ci/test_java.sh
  ci/test_python.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking

#700 Fix the S3 endpoint constructor ambiguity
  cpp/include/kvikio/remote_handle.hpp
  cpp/src/remote_handle.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_remote_handle.cpp
  cpp/tests/utils/env.cpp
  cpp/tests/utils/env.hpp
  python/kvikio/kvikio/_lib/remote_handle.pyx
Labels: bug, non-breaking, python, c++

#704 Add the feature to check page cache residency information for a file
  cpp/include/kvikio/file_utils.hpp
  cpp/src/file_utils.cpp
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/file_handle.pyx
  python/kvikio/kvikio/cufile.py
  python/kvikio/tests/test_basic_io.py
Labels: feature request, non-breaking, python, c++

#692 Remove usage of APIs outside the limited API
  python/kvikio/kvikio/_lib/arr.pyx
Labels: improvement, non-breaking
