Repository rapidsai/kvikio, pull requests merged in 2025-06, with the labels that each got.

#745 Remove CUDA 11 from dependencies.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: breaking, improvement

#744 Add the conda dependency libnuma necessary for GDS I/O
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libkvikio/recipe.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda, Needs build-infra

#753 Only use cufile on x86
  ci/build_cpp.sh
  conda/recipes/libkvikio/recipe.yaml
Labels: improvement, non-breaking

#751 Fix unit test UB resulting from incorrect initialization
  cpp/tests/test_defaults.cpp
  cpp/tests/test_remote_handle.cpp
Labels: bug, non-breaking, c++

#741 Add the utility function to clear page cache
  cpp/include/kvikio/file_utils.hpp
  cpp/src/file_utils.cpp
  docs/source/api.rst
  python/kvikio/kvikio/__init__.py
  python/kvikio/kvikio/_lib/file_handle.pyx
  python/kvikio/kvikio/cufile.py
Labels: feature request, non-breaking, python, c++

#755 Set compiler versions in context
  ci/build_cpp.sh
  conda/recipes/libkvikio/recipe.yaml
Labels: improvement, non-breaking

#758 Use RAPIDS' CUDA major-minor version in Conda's `cuda_version`
  ci/build_cpp.sh
Labels: bug, non-breaking

#760 refactor(shellcheck): enable for all files and fix remaining warnings
  .github/CODEOWNERS
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  cpp/scripts/run-cmake-format.sh
Labels: improvement, non-breaking

#762 Use CUDA 12.9 in Conda, Devcontainers, Spark, GHA, etc.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking
