Repository rapidsai/kvikio, pull requests merged in 2025-08, with the labels that each got.

#789 Support file size query for S3 presigned URL
  cpp/include/kvikio/remote_handle.hpp
  cpp/src/remote_handle.cpp
  python/kvikio/kvikio/_lib/remote_handle.pyx
  python/kvikio/kvikio/remote_file.py
Labels: feature request, non-breaking, python, c++

#788 Support WebHDFS (1/2): C++ implementation
  conda/recipes/libkvikio/conda_build_config.yaml
  conda/recipes/libkvikio/recipe.yaml
  cpp/CMakeLists.txt
  cpp/include/kvikio/detail/remote_handle.hpp
  cpp/include/kvikio/hdfs.hpp
  cpp/include/kvikio/remote_handle.hpp
  cpp/src/detail/remote_handle.cpp
  cpp/src/hdfs.cpp
  cpp/src/remote_handle.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_basic_io.cpp
  cpp/tests/test_hdfs.cpp
  cpp/tests/test_mmap.cpp
  cpp/tests/utils/hdfs_helper.cpp
  cpp/tests/utils/hdfs_helper.hpp
  cpp/tests/utils/utils.hpp
Labels: feature request, non-breaking, c++

#801 Remove remaining nvcomp references
  cpp/CMakeLists.txt
  python/kvikio/CMakeLists.txt
  python/kvikio/cmake/CMakeLists.txt
  python/kvikio/cmake/thirdparty/get_nvcomp.cmake
  python/kvikio/kvikio/_lib/CMakeLists.txt
  python/kvikio/pyproject.toml
  python/libkvikio/CMakeLists.txt
  python/libkvikio/libkvikio/load.py
Labels: bug, non-breaking

#802 Optionally require zarr>=3.0.0
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/kvikio/recipe.yaml
  dependencies.yaml
  docs/source/zarr.rst
  python/kvikio/kvikio/benchmarks/zarr_io.py
  python/kvikio/kvikio/zarr/__init__.py
  python/kvikio/kvikio/zarr/_zarr_python_3.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_zarr_missing.py
  python/kvikio/tests/test_zarr_v3.py
Labels: improvement, non-breaking

#805 Devendor libnvcomp from libkvikio
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  python/libkvikio/CMakeLists.txt
  python/libkvikio/cmake/Modules/WheelHelpers.cmake
  python/libkvikio/cmake/thirdparty/get_nvcomp.cmake
  python/libkvikio/libkvikio/load.py
  python/libkvikio/pyproject.toml
Labels: breaking, improvement

#793 Add a unified remote I/O interface that infers the endpoint type from URL (1/2): C++ implementation
  cpp/CMakeLists.txt
  cpp/include/kvikio/detail/url.hpp
  cpp/include/kvikio/hdfs.hpp
  cpp/include/kvikio/remote_handle.hpp
  cpp/src/detail/url.cpp
  cpp/src/hdfs.cpp
  cpp/src/remote_handle.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_defaults.cpp
  cpp/tests/test_remote_handle.cpp
  cpp/tests/test_url.cpp
Labels: improvement, non-breaking, c++
