Repository rapidsai/kvikio, pull requests merged in 2025-07, with the labels that each got.

#764 add docs on CI workflow inputs
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: doc, non-breaking

#765 Fix a case sensitivity bug in S3 remote I/O
  python/kvikio/kvikio/remote_file.py
  python/kvikio/tests/test_s3_io.py
Labels: bug, non-breaking, python

#769 Remove CUDA 11 mentions from docs
  cpp/doxygen/main_page.md
  docs/source/install.rst
  python/kvikio/pyproject.toml
Labels: doc, non-breaking

#771 fix(docker): use versioned `-latest` tag for all `rapidsai` images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking

#774 Use libnvcomp conda package
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/kvikio/recipe.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#740 Support file-backed mapping (1/n): host/device read C++ implementation
  cpp/CMakeLists.txt
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/detail/utils.hpp
  cpp/include/kvikio/file_utils.hpp
  cpp/include/kvikio/mmap.hpp
  cpp/include/kvikio/remote_handle.hpp
  cpp/include/kvikio/shim/cuda.hpp
  cpp/include/kvikio/shim/cuda_h_wrapper.hpp
  cpp/src/file_utils.cpp
  cpp/src/mmap.cpp
  cpp/src/shim/cuda.cpp
  cpp/src/utils.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_mmap.cpp
  cpp/tests/utils/utils.hpp
Labels: feature request, non-breaking, c++

#784 Revert "Set compiler versions in context (#755)"
  ci/build_cpp.sh
  conda/recipes/libkvikio/recipe.yaml
Labels: bug, non-breaking
