Repository rapidsai/kvikio, pull requests merged in 2025-03, with the labels that each got.

#650 nvCOMP : don't use legacy API
  python/kvikio/kvikio/_lib/libnvcomp.pyx
  python/kvikio/kvikio/_lib/nvcomp_cxx_api.pxd
  python/kvikio/kvikio/nvcomp.py
  python/kvikio/kvikio/zarr.py
  python/kvikio/tests/test_nvcomp.py
Labels: improvement, non-breaking

#644 Improve config handling in cpp and python
  cpp/examples/basic_io.cpp
  cpp/include/kvikio/defaults.hpp
  cpp/src/defaults.cpp
  docs/source/api.rst
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/_lib/defaults.pyx
  python/kvikio/kvikio/benchmarks/http_io.py
  python/kvikio/kvikio/benchmarks/s3_io.py
  python/kvikio/kvikio/benchmarks/single_node_io.py
  python/kvikio/kvikio/benchmarks/utils.py
  python/kvikio/kvikio/benchmarks/zarr_io.py
  python/kvikio/kvikio/cufile_driver.py
  python/kvikio/kvikio/defaults.py
  python/kvikio/kvikio/utils.py
  python/kvikio/tests/conftest.py
  python/kvikio/tests/test_basic_io.py
  python/kvikio/tests/test_cufile_driver.py
  python/kvikio/tests/test_defaults.py
  python/kvikio/tests/test_http_io.py
  python/kvikio/tests/test_s3_io.py
Labels: breaking, improvement, python, c++

#643 Added timeout to kvikio requests
  cpp/include/kvikio/defaults.hpp
  cpp/src/defaults.cpp
  cpp/src/shim/libcurl.cpp
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/_lib/defaults.pyx
  python/kvikio/kvikio/defaults.py
  python/kvikio/tests/test_defaults.py
  python/kvikio/tests/test_http_io.py
Labels: improvement, non-breaking

#653 Add macros KVIKIO_EXPECT and KVIKIO_FAIL to improve exception handling
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cuda_h_wrapper.hpp
  cpp/include/kvikio/shim/libcurl.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/batch.cpp
  cpp/src/compat_mode.cpp
  cpp/src/cufile/driver.cpp
  cpp/src/defaults.cpp
  cpp/src/error.cpp
  cpp/src/file_handle.cpp
  cpp/src/file_utils.cpp
  cpp/src/http_status_codes.cpp
  cpp/src/remote_handle.cpp
  cpp/src/shim/cuda.cpp
  cpp/src/shim/cufile.cpp
  cpp/src/shim/libcurl.cpp
  cpp/src/shim/utils.cpp
  cpp/src/stream.cpp
  cpp/src/utils.cpp
  python/kvikio/tests/test_cufile_driver.py
  python/kvikio/tests/test_defaults.py
Labels: improvement, non-breaking, c++

#646 Support zarr-python 3.x
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
  docs/source/zarr.rst
  python/kvikio/kvikio/benchmarks/single_node_io.py
  python/kvikio/kvikio/zarr/__init__.py
  python/kvikio/kvikio/zarr/_zarr_python_2.py
  python/kvikio/kvikio/zarr/_zarr_python_3.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/conftest.py
  python/kvikio/tests/test_benchmarks.py
  python/kvikio/tests/test_examples.py
  python/kvikio/tests/test_nvcomp_codec.py
  python/kvikio/tests/test_zarr.py
  python/kvikio/tests/test_zarr_v3.py
Labels: improvement, non-breaking

#661 Fix an RPATH-related bug for CMake install
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: bug, non-breaking, c++

#662 Add pom.xml to update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking

#663 Another fix to update-version
  ci/release/update-version.sh
Labels: bug, non-breaking

#659 Add C++ benchmarks (part 1/n)
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/threadpool/threadpool_benchmark.cpp
  cpp/examples/CMakeLists.txt
  python/libkvikio/CMakeLists.txt
Labels: feature request, non-breaking, c++

#667 Fix compilation error under openSUSE Tumbleweed
  cpp/src/shim/libcurl.cpp
Labels: bug, non-breaking

#669 Fix comment typo in buffer_register
  cpp/include/kvikio/buffer.hpp
Labels: doc, non-breaking

#596 Fix std::future status query
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/defaults.cpp
  cpp/src/file_handle.cpp
Labels: bug, non-breaking, c++

#671 Improve NVTX annotation for functions
  cpp/include/kvikio/nvtx.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/threadpool_wrapper.hpp
  cpp/src/bounce_buffer.cpp
  cpp/src/buffer.cpp
  cpp/src/compat_mode.cpp
  cpp/src/defaults.cpp
  cpp/src/file_handle.cpp
  cpp/src/file_utils.cpp
  cpp/src/posix_io.cpp
  cpp/src/remote_handle.cpp
  cpp/src/stream.cpp
Labels: improvement, non-breaking, c++

#677 Make page size portable by querying it at runtime
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/utils.cpp
Labels: improvement, non-breaking, c++
