Repository rapidsai/kvikio, pull requests merged in 2025-09, with the labels that each got.

#812 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#815 Added KVIKIO_REMOTE_VERBOSE option
  cpp/doxygen/main_page.md
  cpp/src/shim/libcurl.cpp
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/defaults.py
Labels: improvement, non-breaking

#817 Explicitly manage TLS/SSL CA paths for remote I/O
  cpp/CMakeLists.txt
  cpp/include/kvikio/detail/tls.hpp
  cpp/src/detail/tls.cpp
  cpp/src/shim/libcurl.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_tls.cpp
  docs/source/runtime_settings.rst
Labels: improvement, non-breaking, c++

#827 Fix CUDA 13 handling of libcufile on aarch64
  conda/recipes/libkvikio/recipe.yaml
Labels: bug, non-breaking

#832 Keep string alive until nvtxDomainResourceCreate
  cpp/src/nvtx.cpp
Labels: bug, non-breaking

#825 Configure repo for automatic release notes generation
  .github/release.yml
Labels: improvement, non-breaking

#831 Fix a bug in public S3 inference
  cpp/src/remote_handle.cpp
Labels: bug, non-breaking, c++

#842 Simplify async validation condition
  cpp/src/compat_mode_manager.cpp
Labels: improvement, non-breaking
