Repository rapidsai/kvikio, pull requests merged in 2025-02, with the labels that each got.

#614 Add RAII file wrappers to avoid resource leak
  cpp/CMakeLists.txt
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/file_utils.hpp
  cpp/src/error.cpp
  cpp/src/file_handle.cpp
  cpp/src/file_utils.cpp
Labels: improvement, non-breaking, c++

#617 Use std::string
  cpp/include/kvikio/shim/utils.hpp
  cpp/src/shim/utils.cpp
Labels: improvement, non-breaking

#619 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_cpp.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking

#616 Fix package versioning
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking

#621 Add `shellcheck` to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking

#620 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#623 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#625 Set `POSITION_INDEPENDENT_CODE` on libcurl
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcurl.cmake
  python/kvikio/kvikio/_lib/CMakeLists.txt
Labels: bug, non-breaking

#615 add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#628 Use rapids-generate-version for package versions
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/meta.yaml
Labels: improvement, non-breaking

#626 Forward-merge branch-25.02 into branch-25.04
  ci/build_wheel.sh
  ci/build_wheel_cpp.sh
  ci/test_wheel.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcurl.cmake
  cpp/include/kvikio/shim/utils.hpp
  cpp/src/shim/utils.cpp
  python/kvikio/kvikio/_lib/CMakeLists.txt
Labels: improvement, non-breaking

#636 Consolidate more Conda solves in CI
  ci/test_java.sh
  dependencies.yaml
Labels: improvement, non-breaking

#608 Adjust the way of determining FileHandle's compatibility mode for sync and async I/O to improve code readability
  cpp/CMakeLists.txt
  cpp/doxygen/main_page.md
  cpp/include/kvikio/compat_mode.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/src/batch.cpp
  cpp/src/compat_mode.cpp
  cpp/src/defaults.cpp
  cpp/src/file_handle.cpp
  docs/source/runtime_settings.rst
Labels: breaking, improvement, c++

#630 Enable tracing of thread pool tasks using NVTX
  cpp/CMakeLists.txt
  cpp/include/kvikio/nvtx.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/file_handle.cpp
  cpp/src/nvtx.cpp
  cpp/src/posix_io.cpp
  cpp/src/remote_handle.cpp
  cpp/src/utils.cpp
Labels: feature request, non-breaking, c++

#597 Add tutorials to showcase GDS for nifti and dicom images
  notebooks/medical_dicom_image_loading_example.ipynb
  notebooks/medical_nifti_image_loading_example.ipynb
Labels: improvement, non-breaking

#639 Update to nvcomp 4.2.0.11
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: improvement, non-breaking

#611 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#637 Minor fixes on the file permission, host allocation flag, and worker thread initialization
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/nvtx.hpp
  cpp/include/kvikio/parallel_operation.hpp
  cpp/include/kvikio/threadpool_wrapper.hpp
  cpp/src/bounce_buffer.cpp
  cpp/src/defaults.cpp
  cpp/src/nvtx.cpp
  cpp/tests/test_basic_io.cpp
Labels: bug, non-breaking, c++

#638 add install docs
  docs/source/install.rst
Labels: doc, non-breaking

#603 Retry on HTTP 50x errors
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/doxygen/main_page.md
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/http_status_codes.hpp
  cpp/src/defaults.cpp
  cpp/src/http_status_codes.cpp
  cpp/src/shim/libcurl.cpp
  cpp/tests/test_defaults.cpp
  dependencies.yaml
  docs/source/runtime_settings.rst
  python/kvikio/kvikio/_lib/defaults.pyx
  python/kvikio/kvikio/defaults.py
  python/kvikio/kvikio/utils.py
  python/kvikio/pyproject.toml
  python/kvikio/tests/test_benchmarks.py
  python/kvikio/tests/test_defaults.py
  python/kvikio/tests/test_http_io.py
Labels: improvement, non-breaking

#645 Remove `FindCUDAToolkit` backport
  cpp/cmake/Modules/FindCUDAToolkit.cmake
Labels: improvement, non-breaking

#647 Remove `FindCUDAToolkit.cmake` from `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#648 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking
