Repository rapidsai/kvikio, pull requests merged in 2025-01, with the labels that each got.

#583 Zarr: pin to version 2.*
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/meta.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: improvement, non-breaking

#587 Fix the misplaced libcurl in CMake
  cpp/CMakeLists.txt
Labels: bug, non-breaking, c++

#586 Use GCC 13 in CUDA 12 conda builds.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/kvikio/conda_build_config.yaml
  conda/recipes/kvikio/meta.yaml
  conda/recipes/libkvikio/conda_build_config.yaml
  conda/recipes/libkvikio/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#589 allow deselecting nvcomp wheels
  .pre-commit-config.yaml
  dependencies.yaml
  python/kvikio/pyproject.toml
Labels: bug, non-breaking

#588 Separate more interface and definition. Add comments on std::future. Mark noexcept to compat mode-related functions
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/shim/cufile.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/src/defaults.cpp
  cpp/src/file_handle.cpp
  cpp/src/shim/cufile.cpp
  cpp/src/shim/utils.cpp
Labels: improvement, non-breaking, c++

#600 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#594 Apply east const using clang-format. Fix header issues reported by clang-tidy
  cpp/include/kvikio/batch.hpp
  cpp/include/kvikio/buffer.hpp
  cpp/include/kvikio/cufile/config.hpp
  cpp/include/kvikio/defaults.hpp
  cpp/include/kvikio/error.hpp
  cpp/include/kvikio/file_handle.hpp
  cpp/include/kvikio/posix_io.hpp
  cpp/include/kvikio/shim/cufile_h_wrapper.hpp
  cpp/include/kvikio/shim/libcurl.hpp
  cpp/include/kvikio/shim/utils.hpp
  cpp/include/kvikio/stream.hpp
  cpp/include/kvikio/utils.hpp
  cpp/src/batch.cpp
  cpp/src/buffer.cpp
  cpp/src/cufile/config.cpp
  cpp/src/cufile/driver.cpp
  cpp/src/defaults.cpp
  cpp/src/file_handle.cpp
  cpp/src/posix_io.cpp
  cpp/src/shim/cuda.cpp
  cpp/src/shim/utils.cpp
  cpp/src/stream.cpp
  cpp/src/utils.cpp
  cpp/tests/test_basic_io.cpp
  cpp/tests/test_defaults.cpp
  cpp/tests/utils.hpp
  java/src/main/native/src/CuFileJni.cpp
Labels: improvement, non-breaking, c++

#609 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#610 Forward-merge branch-25.02 to branch-25.04
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/doxygen/main_page.md
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#605 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
